!!!  5
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    title Seer Jasmine suite
    link(type="text/css", href="jasmine/jasmine.css", rel="Stylesheet", media="screen")
    script(type="text/javascript", src='/jasmine/jasmine.js')
    script(type="text/javascript", src='/jasmine/jasmine-html.js')
    script(type="text/javascript", src='/jasmine/json2.js')
    script
      var jsApiReporter;
      (function() {
        var jasmineEnv = jasmine.getEnv();
        jsApiReporter = new jasmine.JsApiReporter();
        var trivialReporter = new jasmine.TrivialReporter();
        jasmineEnv.addReporter(jsApiReporter);
        jasmineEnv.addReporter(trivialReporter);
        jasmineEnv.specFilter = function(spec) {
          return trivialReporter.specFilter(spec);
        };
        window.onload = function() {
          jasmineEnv.execute();
        };
      })();  
    !=partial('assets', {assets: appassets})
    !=partial('assets', {assets: {js: tests}})
  body
